<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65632541011-57gi3k7cini7h850itii85t6ucvivbpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65632541011-57gi3k7cini7h850itii85t6ucvivbpb</string>
	<key>API_KEY</key>
	<string>AIzaSyBRh1J9J7Cw_HlBj2eQ-4Xhgl3j1Ofroik</string>
	<key>GCM_SENDER_ID</key>
	<string>65632541011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fromScratch</string>
	<key>PROJECT_ID</key>
	<string>from-scratch-46bdc</string>
	<key>STORAGE_BUCKET</key>
	<string>from-scratch-46bdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65632541011:ios:710b4f802c8265421a29a6</string>
</dict>
</plist>